*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: hsl(185, 75%, 39%);
    background-image: url("https://res.cloudinary.com/lau2401/image/upload/v1682612900/bg-pattern-bottom_xd5zrw.svg");
}
.container_info{
    background-color: white;
    width: 350px;
}
.img_fondo{
    background-image: url(https://res.cloudinary.com/lau2401/image/upload/v1682612900/bg-pattern-card_fchp5g.svg);
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    border-radius: 50px;
}